{{- /* layouts/_default/_markup/render-image.html */ -}}
{{- $url := urls.Parse .Destination -}}
{{- $scheme := $url.Scheme -}}
{{- $finalURL := .Destination -}}

{{- if eq $scheme "" -}}
  {{- if eq .Page.Section "post" -}}
    {{- $finalURL = printf "/post/%s" .Destination -}}
  {{- else if eq .Page.Section "archives" -}} {{/* <-- 确保这里也是正确的 */}}
    {{- if strings.HasPrefix .Destination "../" -}}
      {{- $finalURL = printf "/post/%s" (strings.TrimPrefix "../" .Destination) -}}
    {{- else -}}
      {{- $finalURL = printf "/archive/%s" .Destination -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<img src="{{ $finalURL | safeURL }}"
  {{- with .Title }} title="{{ . | safeHTML }}"{{- end -}}
  {{- with .Text }} alt="{{ . | safeHTML }}"{{- end -}}
/>