{{- /* layouts/_default/_markup/render-link.html */ -}}
{{- $url := urls.Parse .Destination -}}
{{- $scheme := $url.Scheme -}}
{{- $finalURL := .Destination -}}

{{- if eq $scheme "" -}}
  {{- if strings.HasSuffix $url.Path ".md" -}}
    {{- $pathForRelref := .Destination -}}
    {{- if eq .Page.Section "archives" -}}
      {{- if strings.HasPrefix .Destination "../" -}}
        {{- $pathForRelref = strings.TrimPrefix "../" .Destination -}}
      {{- end -}}
    {{- end -}}
    {{- $finalURL = relref .Page $pathForRelref -}}
  {{- else -}}
    {{- if eq .Page.Section "post" -}}
      {{- $finalURL = printf "/post/%s" .Destination -}}
    {{- else if eq .Page.Section "archives" -}} {{/* <-- 修正了这里的拼写 */}}
      {{- if strings.HasPrefix .Destination "../" -}}
        {{- $finalURL = printf "/post/%s" (strings.TrimPrefix "../" .Destination) -}}
      {{- else -}}
        {{- $finalURL = printf "/archives/%s" .Destination -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<a href="{{ $finalURL | safeURL }}"
  {{- with .Title }} title="{{ . | safeHTML }}"{{- end -}}>
  {{- .Text | safeHTML -}}
</a>